{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
    Agregar compra
{% endblock %}
{% block encabezado %}

{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/compras.css' %}">
{% endblock extracss %}
{% block breadcrumb %}
    <h2>Agregar compra</h2>
{% endblock breadcrumb %}

{% block contenido %}
    <form method="post" class="compra-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Guardar</button>
    </form>
   
{% endblock %}


{% block extrascripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock extrascripts %}
