{% extends 'base/base.html' %}
{% load static %} 

{% block titulo %}
    Editar compra
{% endblock %}
{% block encabezado %}
  
{% endblock %}
{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/compras.css' %}">
{% endblock extracss %}
{% block breadcrumb %}

  <h2>Agregar compra</h2>
{% endblock breadcrumb %}

{% block contenido %}


  <form method="post" class="compra-form">

    {% csrf_token %}
    {{ form.as_p }}
    
    <h2>Elementos de Compra</h2>
    <div class="elemento-container">
      <input type="text" name="elementos-0-ingrediente">
      <input type="text" name="elementos-0-tipo">
      <input type="text" name="elementos-0-precio_aprox">
      <input type="text" name="elementos-0-cantidad">
      <input type="text" name="elementos-0-tipo_cantidad">
    </div>
    
    <button type="button" id="agregar-elemento-btn">Agregar Elemento</button>
    <button type="submit">Guardar</button>
  </form>




{% endblock %} 
 {% block extrascripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/agregar_compra.js' %}"></script>


  {% endblock extrascripts %}