{% extends 'base/base.html' %}

{% load static %}
{% block titulo %}
    Calendario
{% endblock %}

{% block extracss %}
  <link href="{% static 'calendario/main.css' %}" rel="stylesheet" />

{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendario de Menús</h1>
      <p>Comida</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendario</a></li>
  </ul>
{% endblock breadcrumb %}

{% block contenido %}
<div class="bodyC">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="tile row">
              <div class="col-md-3">
                  <div id="external-events">
                      <h4 class="mb-4">Running Events</h4>
                      {% for comida in events_month %}
                        <div class="fc-event">
                            <h3>{{ comida.titulo }}</h3>
                            <p>From: {{ comida.inicio }}</p>
                            <p>To: {{ comida.fin }}</p>
                        </div>
                      {% empty %}
                        <p>No Running Events Found</p>
                      {% endfor %}
                  </div>
              </div>
              <div class="col-md-9">
                <div id="calendar"></div>
            </div>
  
            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                          <h5 class="modal-title text-white" id="exampleModalLongTitle">Agregar nueva comida</h5>
                          <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="post">
                          {% csrf_token %}
                          <div class="modal-body">
                              {{ form.non_field_errors }}
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="id_titulo" class="col-form-label">Titulo:</label>
                                          {{ form.titulo }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_descripcion" class="col-form-label">Descripcion:</label>
                                          {{ form.descripcion }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_inicio" class="col-form-label">Inicio:</label>
                                          {{ form.inicio }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_fin" class="col-form-label">Fin:</label>
                                          {{ form.fin }}
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="id_tipo" class="col-form-label">Tipo:</label>
                                          {{ form.tipo }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_ingredientes" class="col-form-label">Ingredientes:</label>
                                          {{ form.ingredientes }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_miembro" class="col-form-label">Miembros:</label>
                                          {{ form.miembro }}
                                      </div>
                                      <div class="form-group">
                                          <label for="id_extra" class="col-form-label">Extra:</label>
                                          {{ form.extra }}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button id="modalClose2" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          
          
          
          </div>
      </div>
  </div>
</div>
{% endblock contenido %}

{% block extrascripts %}
<script src="{% static 'calendario/main.js' %}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
      },
      navLinks: true,
      selectable: true,
      selectMirror: true,
      select: function(arg) {
        console.log('clicked')
        var modal = document.getElementById('eventModal')
        modal.style.display = 'block'
        calendar.unselect()
      },
      editable: true,
      dayMaxEvents: true,

    });

    calendar.render();

  });

      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
</script>
{% endblock extrascripts %}
