{% extends 'base/base.html' %}

{% load static %}
{% block titulo %}
    Calendario
{% endblock %}

{% block extracss %}
  <link href="{% static 'calendario/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendario de Menus</h1>
      <p>Comida </p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendario</a></li>
  </ul>
{% endblock breadcrumb %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-Comidas">
                    <h4 class="mb-4">Comidas</h4>
                    {% for comida in Comidas_mes %}
                      <div class="fc-comida">
                          <h3>{{ comida.titulo }}</h3>
                          <p>Desde: {{ comida.inicio}}</p>
                          <p>Hasta: {{ comida.fin}}</p>
                      </div>
                    {% empty %}
                      <p> Comida no encontrada</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendario"></div>
            </div>

            <div class="modal fade show" id="comidaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Añadir comida</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-grupo">
                                    <label for="recipient-name" class="col-form-label">Plato:</label>
                                    {{ form.titulo}}
                                </div>
                                <div class="form-grupo">
                                    <label for="message-text" class="col-form-label">Descripción:</label>
                                    {{ form.descripcion }}
                                </div>
                                <div class="form-grupo">
                                    <label for="message-text" class="col-form-label">Inicio</label>
                                    {{ form.inicio }}
                                </div>
                                <div class="form-grupo">
                                    <label for="message-text" class="col-form-label">Final:</label>
                                    {{ form.fin }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block extrascripts %}
  <script src="{% static 'calendario/main.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarioEl = document.getElementById('calendario');
        var hoy = new Date();

        var calendario = new FullCalendario.Calendario(calendarioEl, {
          headerToolbar: {
            left: 'prev,sig hoy',
            center: 'tiulo',
            right: 'diaGridMes,fechaGridSemana,fechaGridDia,lista'
          },
          initialDate: hoy,
          navLinks: true, // can click day/Semana names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendario.unselect()
          },
          eventClick: function(arg) {
            if (confirm('¿Quiere eliminar la comida?')) {
              arg.event.remove()
            }
          },
          editable: true,
          dayMaxComidas: true, 
          Comidas: {{ Comidas|safe }},

        });

        calendario.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
  </script>
{% endblock extrascripts %}