{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
Agregar Miembro
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/miembros.css' %}">
{% endblock extracss %}

{% block breadcrumb %}
<h1>Agregar Miembro</h1>
{% endblock breadcrumb %}

{% block encabezado %}

{% endblock encabezado %}

{% block contenido %}
<div class="agregar-miembro-container">
  <form method="POST" action="{% url 'agregar_miembro' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Agregar Miembro</button>
  </form>
</div>
{% endblock contenido %}
