<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta name="description" content="Dashboard" />

        <title>{% block titulo %}{% endblock titulo  %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        {% block extracss %}
        {% endblock extracss %}
    </head>
    <body class="app sidebar-mini">
        <!-- Navbar-->
        <header class="app-header">
            <a class="app-header__logo" href="#">Menu</a>
            <!-- Sidebar toggle button-->
            <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">
                <li class="app-search">
                    <input class="app-search__input" type="search" placeholder="Search" />
                    <button class="app-search__button"><i class="fa fa-search"></i></button>
                </li>
                <!--Notification Menu-->
               
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Configuracion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Perfil</a>
                        </li>
                        <li>
                <!--                <a class="dropdown-item" href="{% url 'miembros' %}"><i class="fa fa-sign-out fa-lg"></i> Sign Out</a> -->    
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!-- Sidebar menu-->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <img class="app-sidebar__user-avatar" src="" alt="User Image" height="50px" width="50px"/>
                <div>
                    <p class="app-sidebar__user-name">Luciana Peisina</p>
                    <p class="app-sidebar__user-designation">Django</p>
                </div>
            </div>
            <ul class="app-menu">
                <li>
                    <a class="app-menu__item active" href="{% url 'miembros' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a>
                </li>
                <li>
                    <a class="app-menu__item" href="{% url 'calendarioMenu' %}"><i class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Calendario</span></a>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Comidas</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="treeview-item" href="{% url 'running_comidas' %}"><i class="icon fa fa-circle-o"></i>  Funcionando </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="{% url 'running_comidas' %}"><i class="icon fa fa-circle-o"></i> Actu</a>
                        </li>
                        <li>
                            <a class="treeview-item" href="{% url 'lista_comida' %}"><i class="icon fa fa-circle-o"></i> Todo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Documentos</span></a>
                </li>
            </ul>
        </aside>

        <main class="app-content">
            <div class="app-title">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            {% block contenido %}
            {% endblock contenido %}
        </main>

        {% include 'base/js.html' %}
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
