<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta name="description" content="Dashboard" />
        <link rel="shortcut icon" type="image/png" href="{% static 'img/menu.png' %}" >
        <title>{% block titulo %}
            {% endblock titulo  %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        {% block extracss %}
        {% endblock extracss %}
    </head>
    <body class="app sidebar-mini">
        <header class="app-header " >
            <a class="app-header__logo" href="{% url 'index' %}">Inicio</a>
            <!-- Navbar Menu-->
        {% include 'planificador_comidas/navbar.html' %}
            
    
        </header>
            

        <!-- Sidebar menu-->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <img class="app-sidebar__user-avatar" src="" alt="User Image" height="50px" width="50px"/>
                <div>
                    <p class="app-sidebar__user-name">{{user.username}}</p>
                    <p class="app-sidebar__user-designation">Django</p>
                </div>
            </div>
            <ul class="app-menu">
                <li>
                    <a class="app-menu__item active" href="{% url 'miembros' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Miembros</span></a>
                </li>
                <li>
                    <a class="app-menu__item" href="{% url 'calendarioMenu' %}"><i class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Calendario</span></a>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="{% url 'compras' %}" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Compras</span><i class="treeview-indicator fa fa-angle-right"></i></a>

                </li>
                <li>
                    <a class="app-menu__item" href="{% url 'perfil' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Perfil</span></a>
                </li>
            </ul>
        </aside>

        <main class="app-content">
            <div class="app-title">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            {% block encabezado %}

{% endblock %}
            {% block contenido %}
            {% endblock contenido %}
        </main>

        {% include 'base/js.html' %}
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
